.timeline_container {
  display: grid;
  place-items: center;
  grid-row: 4;
  grid-column: 1 / 5;
  padding: 0 2rem;
  z-index: 50;
  margin: auto;
  width: 100%;

  --slider-height: 1.1rem;
  --slider-thumb-size: 1rem;
  --slider-range-border-radius: 1rem;
}

@media (min-width: 768px) {
  .timeline_container {
    grid-row: 4;
    grid-column: 2 / 4;
    padding: 0;
  }
}

.timeline_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.timeline_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--slider-height);
  background: var(--color-primary-border);
  border-radius: var(--slider-range-border-radius);
  outline: none;
  background: var(--color-secondary-surface);
  border: 1px solid var(--color-secondary-text);
}

.timeline_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border-radius: 50%;
  background: var(--gradient-primary);
  cursor: pointer;
  transition: background 0.2s ease;
}

.timeline_slider::-moz-range-thumb {
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border: none;
  border-radius: 50%;
  background: var(--gradient-primary);
  cursor: pointer;
  transition: background 0.2s ease;
}

.timeline_slider:focus {
  box-shadow: var(--shadow-ring);
}

.timeline_slider_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.timeline_frame_count {
  position: absolute;
  font-size: 0.8rem;
}

.timeline_controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.timeline_controls > * {
  margin: 0 0.5rem;
}
